@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #535E4E 16.62%, #254935 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.cabecalho-imagem {
  height: 50px;
  border-radius: 50%;
}

.cabecalho-menu {
  display: flex;
  gap: 30px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 40px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  font-size: 50px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width:100px;
  height: 100px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
  
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}
.form {
  /*centralizar o formulário*/
  margin: 1 auto;
  width: 300px;
  /*bordas visiveis*/
  padding: 2em;
  border: 1px solid #0000;
  border-radius: 1em;
}
  form div+div{
    margin-top: 1em;
  }
.label{
  /*todas as labels alinhadas e do mesmo tamanho*/
  display: inline-block;
  width: 90px;
  text-align: right;
}
input,
  /*todos os campos de textosconfigurados iguais*/
textarea{
  font: 1em sans-serif;
  /*tamanho de campos iguais*/
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*harmozização look e feel das bordas nos campos de texto*/
  border 2px solid #9999;
  /*alinhar corretamente os campos de textos de várias linhas*/
  vertical-align:top;
  /*espaço para digitar texto codigo: height: 2em; */
  /*redimensionamento vertical disponivel para o usuário*/
  resize: vertical;
}
input:focus,
textarea:focus{
border-color: #0000;  
}

}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
